---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Canrylog"
  description="A personal time tracking application with powerful reports."
>
  <h1>Canrylog</h1>
  <nav class="gap-x-2 flex">
    <div>TODO screenshots</div>
    <div>TODO docs</div>
    <div>TODO install</div>
  </nav>
  <p>
    Canrylog is a personal time tracking application. It has a few principles:
  </p>
  <ul>
    <li>Manual tracking</li>
    <li>
      No multitasking — only one task is active at a time, as you're only able
      to focus on one thing at a time
    </li>
    <li>
      Time is tracked by logging task-switching /events/
      <ul>
        <li>
          The clocked out state is represented by switching to the task
          “Downtime”
        </li>
        <li>
          Canrylog does not need to be running for a task to continue to be
          active
        </li>
        <li>Tasks do not have to be declared beforehand</li>
      </ul>
    </li>
  </ul>
  <p>
    Canrylog is currently available <a
      href="https://gitlab.com/canrylog/canrylog.el">as an Emacs package</a
    >, and has <a href="https://gitlab.com/canrylog/canrylog-cli">a basic CLI</a
    > based on Node.
  </p>
  <footer>
    Made by <a href="https://bsky.app/profile/kisaragi-hiu.com">Kisaragi Hiu</a
    >. <a href="https://www.buymeacoffee.com/kisaragihiu">Buy me a meal</a>.
  </footer>
</Layout>
