---
interface Props {
  title: string;
  description?: string;
}

import "../styles.css";

const { title, description = "Description" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      is:inline
      defer
      data-domain="canrylog.gitlab.io"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="m-4 lg:mx-auto max-w-4xl">
    <slot />
  </body>
</html>
